.nav-bar{
    
    background-color:#F0FFF0;
    width:100%;
    margin-bottom: 100px;

}
h1{
    font-size: 50px;
}
.btn-outline-success{
    background-color:#21b573;
    color: white;
    border-radius: 33%;
    height: 43px;
    width: 104px;
    text-align: center;
    border: none;
    cursor: pointer;

}
.learn-with-fun{
    margin: 60px 60px;
}
#schedule{
    color: #21b573;
}
.card-img{
    height: 100px;
    width: 90px;
}
.categories .card{
    background-color:#F0FFF0 ;
    align-items: center;
    padding: 20px 20px;
    border-radius: 10px;
    
}
.card{
    border: none;
}
.categories{
    margin-bottom: 50px;
}
.card:hover {
    background-color:white;
    box-shadow: 5px 5px 10px lightgray;
  }
  .categories .card-title{
    text-align:center;
}
.categories .card-text{
    text-align:center;
}
.foot-img1{
    height: 20px;
}
.foot-img2{
    height: 20px;
}
.card-footer{
    border: none;
    background-color: white;
}
.online-courses{
    margin: 40px 40px;
    padding-top: 30px;
}
.testimonial{
    margin: 100px 50px;
    padding-top: 30px;
}
.man-img{
    height: 150px;
    width: 150px;;
    padding-top: 30px;
}
.test{
    padding: 20px 40px;
}
footer{
    color:white;
    background-color: rgb(33, 35, 48);
}
footer p{
    font-size: 13px;
}

